<head>
  <meta charset="utf-8">

  {% if not embedded %}

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'{{ url_root }}',
            VERSION:'{{ release|e }}',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
            HAS_SOURCE:  {{ has_source|lower }},
            CONTEXT:     '{{ data_capture_context }}',
            DATA_CAPTURE_URL: '{{ data_capture_url }}',
            DATA_CAPTURE_METHOD: '{{ data_capture_method }}',
            DATA_CAPTURE_SUBJECT_NAME: '{{ data_capture_subject_name }}',
            DATA_CAPTURE_VERB_NAME: '{{ data_capture_verb_name }}',
            DATA_CAPTURE_OBJECT_NAME: '{{ data_capture_object_name }}',
            DATA_CAPTURE_CONTEXT_NAME: '{{ data_capture_context_name }}'
        };
    </script>
    {%- for scriptfile in script_files %}
      <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}

  {% endif %}

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

      {# PAGE CONTENT #}
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="main">
            {% block body %}{% endblock %}
          </div>
        </div>
      </div>

    </section>

  </div>

  <script type="text/javascript" src="{{ pathto('_static/dynsite.js', 1) }}"></script>

</body>
</html>
