body {
  background-color: white; }

h1 {
  text-align: center;
  font-size: 2.5em; }

h2 {
  text-align: left;
  padding-left: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  border: 0em;
  margin: 0em;
  font-size: 1.5em; }

#Wrapper {
  background-color: lightblue;
  width: 85em;
  height: 55em;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  border: 0.3em solid black; }

#Mic1_Wrapper {
  float: left;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5% 0.5%;
  width: 34%; }

#Right_Wrapper {
  float: right;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5% 0.5%;
  width: 63%; }

#Mic1_Image {
  margin-right: auto;
  margin-left: auto; }

#Fetch_Image, #Write_Image, #Read_Image {
  width: 20%;
  float: right;
  display: none; }

#Mic1_Display, #Microcode_Text, #Microprogram_Text, #Stack_Text,
#Home_Page, #microcodeForInstructions_Text, #ToolboxForm {
  background-color: white;
  padding: 2em;
  margin-right: auto;
  margin-left: auto;
  border: 0.3em solid black; }

#Microcode_Text {
  height: 12em;
  overflow: scroll;
  line-height: 1.5em; }

#Microprogram_Text, #Stack_Text {
  height: 10em;
  overflow-y: scroll;
  overflow-x: scroll;
  line-height: 1.5em; }

#microcodeForInstructions_Text {
  height: 8em;
  overflow: scroll;
  line-height: 1.5em; }

#MAR_Form {
  position: absolute;
  top: 4.44em;
  left: 8.6em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#MDR_Form {
  position: absolute;
  top: 7.55em;
  left: 8.6em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#PC_Form {
  position: absolute;
  top: 10.66em;
  left: 8.6em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#MBR_Form {
  position: absolute;
  top: 13.77em;
  left: 9.925em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#SP_Form {
  position: absolute;
  top: 16.88em;
  left: 8.6em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#LV_Form {
  position: absolute;
  top: 19.99em;
  left: 8.6em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#CPP_Form {
  position: absolute;
  top: 23.1em;
  left: 8.6em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#TOS_Form {
  position: absolute;
  top: 26.21em;
  left: 8.6em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#OPC_Form {
  position: absolute;
  top: 29.32em;
  left: 8.6em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#H_Form {
  position: absolute;
  top: 32.43em;
  left: 8.6em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#ALU_Form {
  position: absolute;
  top: 40.24em;
  left: 11.975em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#Shifter_Form {
  position: absolute;
  top: 45.54em;
  left: 11.975em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#Z_Form {
  position: absolute;
  top: 40.24em;
  left: 17.975em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#N_Form {
  position: absolute;
  top: 41.8em;
  left: 17.975em;
  height: 3.12em;
  width: 6.25em;
  text-align: center; }

#CBus {
  position: absolute;
  top: 48.84em;
  left: 5.6em; }

#BBus {
  position: absolute;
  top: 4.74em;
  left: 16.8em; }

#Menu {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 85em; }

#Menu ul {
  text-align: center;
  display: inline;
  padding: 1em 0.25em 1em 0em; }

#Menu ul li {
  font-weight: bold;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: white;
  cursor: pointer; }

#Menu ul li:hover {
  background: lightblue;
  color: black; }

#Menu ul li ul {
  padding: 0;
  position: absolute;
  top: 3em;
  left: 0;
  width: 8em;
  display: none;
  opacity: 0;
  visibility: hidden; }

#Menu ul li ul li {
  background: lightblue;
  display: block;
  color: black;
  z-index: 1; }

#Menu ul li ul li:hover {
  background: white; }

#Menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

.registerText {
  text-align: right;
  margin-bottom: 0.55em;
  letter-spacing: 0.18em; }

.displaySpacing {
  float: left;
  width: 8em; }

.displaySpacingL {
  float: left;
  width: 24em; }

#ControlPanel {
  display: inline; }

#invalidInput {
  color: red;
  background-color: #FFFF66; }

#Microcode, #Microprogram, #Stack, #microcodeForInstructions, #addInstruction-form, #microcodeCreationButtons,
#operationBrowsingButtons, #instructionOperationBrowsingButtons, #Toolbox {
  display: none; }

button {
  font-size: 125%;
  font-family: "Times New Roman",Times,serif; }

#credits {
  text-align: center;
  margin-top: 3em;
  line-height: 10%; }

.largerBoldText {
  font-size: 125%;
  font-weight: bold; }
