<h1 id="séquence-6">Séquence 6</h1>
<p>L’objectif de la séquence est de travailler sur la construction et l’utilisation d’algorithmes gloutons. On poura lire le chapitre 16 de l’ouvrage</p>
<p><strong>Algorithmique</strong> par Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest et Clifford Stein Dunod 3ième édition 2010 <a href="https://www.dunod.com/sciences-techniques/algorithmique-cours-avec-957-exercices-et-158-problemes">lien</a> des versions plus anciennes sont accessibles partiellement sur internet.</p>
<h2 id="question-1">Question 1</h2>
<p>On considère la straté de rendu de monnaie consistant à rendre la plus forte valeur possible en premier. Cet algorithme est optimal pour</p>
<ol type="1">
<li>Le système de pièces {1,2,5,10} (système européen)</li>
<li>Le système de pèces {1,3,4,10}</li>
</ol>
<h3 id="réponses-éléments">réponses (éléments)</h3>
<ol type="1">
<li>Vrai mais est complèxe à démontrer</li>
<li>Faux par exemple le rendu sur 9 avec la stratégie gloutonne donne <span class="math inline">9 = 4 + 3 + 1 + 1</span> soit un rendu de <span class="math inline">4</span> pièces alors que l’on peur rendre <span class="math inline">3</span> pièces avec <span class="math inline">9 = 3 + 3 + 3</span></li>
</ol>
<h2 id="question-2">Question 2</h2>
<p>On considère le problème de coloriage de graphe non orienté ayant <span class="math inline"><em>n</em></span> noeud, c’est à dire colorer chacun des noeuds du graphe de manière à ce que tous noeuds voisins soient de couleur différente et en utilisant un minimum de couleurs. (les couleurs sont numérotées)</p>
<ol type="1">
<li>Prendre les sommets dans un ordre quelconque et attribuer à chaque sommet la plus petite couleur non utilisée par ses voisins déjà coloriés.Cet algorithme est-il glouton ? La stratégie fournit-elle une solution optimale ?</li>
<li>Prendre les sommets par degré décroissant et attribuer à chaque sommet la plus petite couleur non utilisée par ses voisins déjà coloriés. Cet algorithme est-il glouton ? La stratégie fournit-elle une solution optimale ?</li>
<li>Commencer avec un nombre de couleurs égal à <span class="math inline"><em>k</em> = 0</span>, tant que l’on ne trouve pas de coloriage incrémenter <span class="math inline"><em>k</em></span> énumérer les coloriages à <span class="math inline"><em>k</em></span> couleurs (un coloriage est un tableau de taille <span class="math inline"><em>n</em></span> dont la valeur de chaque case est la couleur du noeud). Cet algorithme est-il glouton ? La stratégie fournit-elle une solution optimale ?</li>
</ol>
<h3 id="réponses-éléments-1">réponses (éléments)</h3>
<ol type="1">
<li>Cet algorithme est glouton, il ne remet pas en cause les choix précédents. La stratégie n’est pas optimale, en effet si on prend une ligne de 4 noeuds, et que l’on choisit la même couleur pour les extrémités on aura besoin de 3 couleurs pour colorer le graphe alors que 2 suffisent.</li>
<li>Cet algorithme est glouton, il ne remet pas en cause les choix précédents. La stratégie n’est pas optimale. En effet si on prend un anneau de 6 noeuds (tous les noeuds ont le même degré 2) et que l’on choisit la même couleur pour deux noeuds opposés sur l’anneau, on se ramène au cas précédent. On aura besoin de 3 couleurs pour colorer le graphe alors que 2 suffisent.</li>
<li>Cet algorithme d’énumération n’est pas glouton, il ne construit pas de solution partielle qui ne sera pas remise en cause. Par contre il construit une solution optimale.</li>
</ol>
<h2 id="question-3">Question 3</h2>
<p>Dans un jeu vidéo, on a <span class="math inline"><em>n</em></span> cibles disposées sur une ligne, aux positions <span class="math inline"><em>x</em><sub>1</sub> ≤ <em>x</em><sub>2</sub> ≤ ⋯ ≤ <em>x</em><sub><em>n</em></sub></span>. Le joueur doit placer des bombes pour atteindre toutes les cibles. Une bombe a une portée de <span class="math inline">0.5</span> autour de l’emplacement où elle est posée.</p>
<p>Différentes stratégies gloutonnes sont envisagées:</p>
<ol type="1">
<li>On détermine la place de la bombe faisant le plus de dégats (touchant le plus de cibles) et on recommence en ignorant les cibles déjà atteinte.</li>
<li>On place une bombe à <span class="math inline"><em>x</em><sub>1</sub> + 0.5</span> on élimine les cibles touchées et on recommence avec les cibles restantes.</li>
</ol>
<p>Les stratégies ci-dessus produisent-elles des solutions optimales ?</p>
<h3 id="réponses-éléments-2">réponses (éléments)</h3>
<ol type="1">
<li>Non La stratégie est gloutonne mais pas optimale. En effet si on a les 6 cibles en position <span class="math inline">0</span>, <span class="math inline">0.8</span>, <span class="math inline">1</span>, <span class="math inline">1.2</span>, <span class="math inline">1.3</span>, <span class="math inline">2.2</span>, l’algorithme va choisir un premier intervalle couvrant les 4 cibles du milieu et sera contraint de choisir 2 intervalles pour couvrir les extrémités, soit 3 intervalles alors que 2 suffisent.</li>
<li>Oui La stratégie est optimale, la preuve s’effectue comme dans le cours.</li>
</ol>
<h2 id="question-4">Question 4</h2>
<p>Le preuve d’un algorithme glouton produisant une solution optimale repose sur un invariant d’itération.</p>
<p>Lors de l’implémentation peut-on transformer cet invariant en un <code>assert</code> permettant de vérifier la correction de l’algorithme en cours d’exécution ?</p>
<h3 id="réponses-éléments-3">réponses (éléments)</h3>
<p>Non (dans le cas général) l’invariant <strong>il existe une solution optimale dont les éléments choisis en sont une partie</strong> entraine que pour le vérifier il faudrait avoir une solution optimale, ce qui n’est pas le cas car l’algorithme proposé doit la construire.</p>
